<!-- beginn: toolbar -->
<div id="moduletoolbar">
    <a class="button edit" onClick="loadContent('mail/mail_whitelist_edit.php');" href="#" title="{tmpl_var name="add_new_record_txt"}">{tmpl_var name="add_new_record_txt"}</a>
</div>
<!-- end: toolbar -->

<!-- beginn: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- beginn: modulecontent -->
    <div class="panel panel_list_mail_whitelist">
        <table class="list">
        <thead>
            <tr class="caption">
                <th class="tbl_col_active" scope="col"><tmpl_var name="active_txt"></th>
                <th class="tbl_col_server_id" scope="col"><tmpl_var name="server_id_txt"></th>
                <th class="tbl_col_source" scope="col"><tmpl_var name="source_txt"></th>
                <th class="tbl_col_type" scope="col"><tmpl_var name="type_txt"></th>
                <th class="tbl_col_limit" scope="col"><a class="button icons16 icoLimit" href="#"><span>Limit</span></a>{tmpl_var name='search_limit'}</th>
            </tr>
            <tr class="filter">
                <td class="tbl_col_active"><select name="search_active" class="withicons">{tmpl_var name='search_active'}</select></td>
                <td class="tbl_col_server_id"><select name="search_server_id" class="servericons">{tmpl_var name='search_server_id'}</select></td>
                <td class="tbl_col_source"><input type="text" name="search_source" value="{tmpl_var name='search_source'}" /></td>
                <td class="tbl_col_type"><select name="search_type">{tmpl_var name='search_type'}</select></td>
                <td class="tbl_col_buttons">
                    <button type="button" class="button icons16 icoFilter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onClick="submitForm('pageForm','mail/mail_whitelist_list.php');"><span>{tmpl_var name="filter_txt"}</span></button>
                </td>
            </tr>
        </thead>
        <tbody>
            <tmpl_loop name="records">
            <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
            <td class="tbl_col_active">{tmpl_var name="active"}</td>
            <td class="tbl_col_server_id">{tmpl_var name="server_id"}</td>
            <td class="tbl_col_source"><a href="#" onClick="loadContent('mail/mail_whitelist_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="source"}</a></td>
            <td class="tbl_col_type">{tmpl_var name="type"}</td>
            <td class="tbl_col_buttons">
                <a class="button icons16 icoEdit" href="javascript: loadContent('mail/mail_whitelist_edit.php?id={tmpl_var name='id'}');"><span>{tmpl_var name='edit_txt'}</span></a>
                <a class="button icons16 icoDelete" href="javascript: del_record('mail/mail_whitelist_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span>{tmpl_var name='delete_txt'}</span></a>
            </td>
            </tr>
            </tmpl_loop>
        </tbody>
        <tfoot>
            <tr>
            <td class="tbl_footer tbl_paging" colspan="5"><tmpl_var name="paging"></td>
            </tr>
        </tfoot>
        </table>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->