@charset "utf-8";
/*
    File: iehacks.css
    Script: ISPC-larry
    Script URI: https://github.com/foe-services/ispc-larry
    Author: Foe Services
    Author URI: http://www.foe-services.de/
*/

/* gradients
-------------------------------------------------------------- */
#middle-line {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#060606', GradientType=0);
}

table.list thead th {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#d6d6d6', GradientType=0);        
}