<script language="javascript" type="text/javascript" src="billing/lib/js/excanvas.js"></script>
<link rel="stylesheet" type="text/css" href="billing/lib/js/jquery.jqplot.min.css" />
<script language="javascript" type="text/javascript" src="billing/lib/js/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="billing/lib/js/plugins/jqplot.barRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="billing/lib/js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="billing/lib/js/plugins/jqplot.cursor.min.js"></script>
      
<script class="code" type="text/javascript">
       
       $.jqplot.config.enablePlugins = true;
       var s1 = [{tmpl_var  name='income'}];
       var ticks = ['{tmpl_var  name='ticks'}'];
       
       plot1 = $.jqplot('chart1', [s1], {
           seriesDefaults:{
               renderer:$.jqplot.BarRenderer,
               rendererOptions: {
                   highlightMouseDown: true   
               },
               pointLabels: {show: true}
           },
           axes: {
               xaxis: {
                   renderer: $.jqplot.CategoryAxisRenderer,
                   ticks: ticks
               }
           },
           highlighter: {
               show: true,
               sizeAdjust: 7.5
           },
           cursor: {
               show: false
           }
       });
       
</script>
<!-- begin: toolbar -->
<div id="moduletoolbar">
    &nbsp;
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div> 
<div class="module-box boxlistcontent" id="modulecontainer">
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_billing_dashboard">
        <h3 class="welcome">{tmpl_var name='income_txt'}</h3>
    
        <div style="height:50px">
            <div style="width:180px; float:left;">
                <p style="margin-bottom:0px;">{tmpl_var  name='income_this_month_txt'}</p>
                <h3>{tmpl_var  name='income_this_month'}</h3>
            </div>
            <div style="width:180px; float:left;">
                <p style="margin-bottom:0px;">{tmpl_var  name='income_last_month_txt'}</p>
                <h3>{tmpl_var  name='income_last_month'}</h3>
            </div>
            <div style="width:180px; float:left;">
                <p style="margin-bottom:0px;">{tmpl_var  name='income_this_year_txt'}</p>
                <h3>{tmpl_var  name='income_this_year'}</h3>
            </div>
            <div style="width:180px; float:left;">
                <p style="margin-bottom:0px;">{tmpl_var  name='income_last_year_txt'}</p>
                <h3>{tmpl_var  name='income_last_year'}</h3>
            </div>
        </div>
    
        <div id="chart1" style="margin-top:0px; width:720px; height:150px;"></div>
        <div style="float:left; width:350px; margin-right:20px;">
            <h3>{tmpl_var  name='latest_invoices_txt'}</h3>
            <table class="list">
                <thead>
                    <tr class="caption">
                        <th class="tbl_col_invoice_number" scope="col"><tmpl_var name="invoice_number_txt"></th>
                        <th class="tbl_col_invoice_date" scope="col"><tmpl_var name="invoice_date_txt"></th>
                        <th class="tbl_col_invoice_amount" scope="col"><tmpl_var name="invoice_amount_txt"></th>
                    </tr>
                </thead>
                <tbody>
                <tmpl_if name="has_invoice_records">
                    <tmpl_loop name="invoice_records">
                        <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td class="tbl_col_invoice_number"><a href="#" onclick="loadContent('billing/invoice_edit.php?id={tmpl_var name='invoice_id'}');">{tmpl_var name="invoice_number"}</a></td>
                            <td class="tbl_col_invoice_date"><a href="#" onclick="loadContent('billing/invoice_edit.php?id={tmpl_var name='invoice_id'}');">{tmpl_var name="invoice_date"}</a></td>
                            <td class="tbl_col_invoice_amount" align="right"><a href="#" onclick="loadContent('billing/invoice_edit.php?id={tmpl_var name='invoice_id'}');">{tmpl_var name="invoice_amount"} {tmpl_var name="currency_txt"}</a></td>
                        </tr>
                    </tmpl_loop>
                </tmpl_if>
                <tr>
                    <td colspan="3" style="text-align:right;"><a href="#" onclick="loadContent('billing/invoice_list.php');">{tmpl_var name='more_txt'}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="float:left; width:350px;">
            <h3>{tmpl_var  name='due_invoices_txt'}</h3>
            <table class="list">
                <thead>
                    <tr class="caption">
                        <th class="tbl_col_invoice_number" scope="col"><tmpl_var name="invoice_number_txt"></th>
                        <th class="tbl_col_invoice_date" scope="col"><tmpl_var name="invoice_date_txt"></th>
                        <th class="tbl_col_invoice_amount" scope="col"><tmpl_var name="invoice_amount_txt"></th>
                    </tr>
                </thead>
                <tbody>
                <tmpl_if name="has_invoice_due">
                    <tmpl_loop name="invoice_due">
                        <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td class="tbl_col_invoice_number"><a href="#" onclick="loadContent('billing/invoice_edit.php?id={tmpl_var name='invoice_id'}');">{tmpl_var name="invoice_number"}</a></td>
                            <td class="tbl_col_invoice_date"><a href="#" onclick="loadContent('billing/invoice_edit.php?id={tmpl_var name='invoice_id'}');">{tmpl_var name="invoice_date"}</a></td>
                            <td class="tbl_col_invoice_amount" align="right"><a href="#" onclick="loadContent('billing/invoice_edit.php?id={tmpl_var name='invoice_id'}');">{tmpl_var name="invoice_amount"} {tmpl_var name="currency_txt"}</a></td>
                        </tr>
                    </tmpl_loop>
                </tmpl_if>
                <tr>
                    <td colspan="3" style="text-align:right;"><a href="#" onclick="loadContent('billing/send_invoice_reminder.php');">{tmpl_var name='more_txt'}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->