<!-- tabs -->
<div id="tabs">
    <ul class="tabsbar">
        <tmpl_loop name="formTab">
            <tmpl_if name="active">
                <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                <tmpl_else>
                    <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
            </tmpl_if>
        </tmpl_loop>
    </ul>
    <ul class="tabsbar-buttons">
        <li><a href="javascript:submitForm('pageForm','billing/invoice_item_template_edit.php');" title="{tmpl_var name='btn_save_txt'}" class="positive iconstxt icoPositive"><span>{tmpl_var name='btn_save_txt'}</span></a></li>
        <li><a href="javascript:loadContent('billing/invoice_item_template_list.php');" title="{tmpl_var name='btn_cancel_txt'}" class="negative iconstxt icoNegative"><span>{tmpl_var name='btn_cancel_txt'}</span></a></li>
    </ul>
</div>

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="form_hint"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">

    <!-- desc --> 
    <div id="module-desc"><tmpl_var name="page_desc_txt"></div>

    <!-- messages/erros --> 
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>

    <!-- begin: modulecontent -->
    <div class="panel panel_invoice_item_template">
        <div class="subsectiontoggle"><span class="showing"></span>Remote User<em class="showing"></em></div>
        <div class="subsection">
            <div class="ctrlHolder">
                <label for="type">{tmpl_var name='type_txt'}</label>
                <select name="type" id="type" class="selectInput formLengthLimit">
                    {tmpl_var name='type'}
                </select>
            </div>
            <div class="ctrlHolder">
                <label for="name">{tmpl_var name='name_txt'}</label>
                <input name="name" id="name" value="{tmpl_var name='name'}" size="30" maxlength="255" type="text" class="textInput" />
            </div>
            <div class="ctrlHolder">
                <label for="description">{tmpl_var name='description_txt'}</label>
                <textarea name="description" id="description" rows='10' cols='30'>{tmpl_var name='description'}</textarea> &nbsp; {tmpl_var name="description_variables_txt"}
            </div>
            <div class="ctrlHolder">
                <label for="price">{tmpl_var name='price_txt'}</label>
                <input name="price" id="price" value="{tmpl_var name='price'}" size="10" maxlength="255" type="text" class="textInput formLengthLimit" /> &nbsp; {tmpl_var name='currency_txt'}
            </div>
            <div class="ctrlHolder">
                <label for="vat">{tmpl_var name='vat_txt'}</label>
                <input name="vat" id="vat" value="{tmpl_var name='vat'}" size="5" maxlength="5" type="text" class="textInput formLengthLimit" /> &nbsp; %
            </div>
            <div class="ctrlHolder">
                <label for="unit">{tmpl_var name='unit_txt'}</label>
                <select name="unit" id="unit" class="selectInput formLengthLimit">
                    {tmpl_var name='unit'}
                </select>
            </div>
            <div class="ctrlHolder">
                <label for="recur_months">{tmpl_var name='recur_months_txt'}</label>
                <input name="recur_months" id="recur_months" value="{tmpl_var name='recur_months'}" size="3" maxlength="3" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="client_template_id">{tmpl_var name='client_template_id_txt'}</label>
                <select name="client_template_id" id="client_template_id" class="selectInput">
                    {tmpl_var name='client_template_id'}
                </select> &nbsp; {tmpl_var name='client_template_description_txt'}
            </div>
        </div>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->