<!-- begin: toolbar -->
<div id="moduletoolbar">
    <a class="button cancel" onclick="loadContent('billing/invoice_list.php');" href="#" title="{tmpl_var name='btn_cancel_txt'}">{tmpl_var name='btn_cancel_txt'}</a>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <!-- tabs -->
    <div id="tabs">
        <ul class="tabsbar">
            <tmpl_loop name="formTab">
                <tmpl_if name="active">
                    <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                    <tmpl_else>
                        <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                </tmpl_if>
            </tmpl_loop>
        </ul>
    </div>
    
    <!-- desc --> 
    <div id="module-desc"><tmpl_var name="page_desc_txt"></div>
    
    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>
        
    <!-- begin: modulecontent -->
    <div class="panel panel_send_invoice_reminder">
        <tmpl_if name="show_list">  
            <table class="list">
                <thead>
                <tr class="caption">
                    <th class="tbl_col_send" scope="col"><tmpl_var name="send_txt"></th>
                    <th class="tbl_col_invoice_number" scope="col"><tmpl_var name="invoice_number_txt"></th>
                    <th class="tbl_col_invoice_date" scope="col"><tmpl_var name="invoice_date_txt"></th>
                    <th class="tbl_col_due_date" scope="col"><tmpl_var name="due_date_txt"></th>
                    <th class="tbl_col_due_date" scope="col"><tmpl_var name="client_txt"> :: <tmpl_var name="company_txt"></th>
                </tr>
                </thead>
                <tbody>
                <tmpl_loop name="invoices">
                <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                    <td class="tbl_col_send"><input type="checkbox" name="invoice_id[]" value="{tmpl_var name="invoice_id"}" checked="checked" /></td>
                    <td class="tbl_col_invoice_number">{tmpl_var name="invoice_number"}</td>
                    <td class="tbl_col_invoice_date">{tmpl_var name="invoice_date"}</td>
                    <td class="tbl_col_due_date">{tmpl_var name="due_date"}</td>
                    <td class="tbl_col_due_date">{tmpl_var name="contact_name"} :: {tmpl_var name="company_name"}</td>
                </tr>
                </tmpl_loop>
                </tbody>
                <tfoot>
                <tr>
                    <td class="tbl_footer tbl_paging" colspan="5"><tmpl_var name="paging"></td>
                </tr>
                </tfoot>
            </table>
        </tmpl_if>  
        <tmpl_if name="show_list">
            <div class="ctrlHolder">
                <label for="email_template_id">{tmpl_var name='email_template_id_txt'}</label>
                <select name="email_template_id" id="email_template_id" class="selectInput">
                    {tmpl_var name='email_template_id'}
                </select>
            </div>
          
            <input type="hidden" name="id" value="{tmpl_var name='id'}">
            <input type="hidden" name="form_send" value="1">
            
            <div class="buttonHolder buttons">
                <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_send_txt'}" onclick="submitForm('pageForm','billing/send_invoice_reminder.php?action=send');"><span>{tmpl_var name='btn_send_txt'}</span></button>
                <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('billing/invoice_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
            </div>
        
        <tmpl_else>
            <div class="buttonHolder buttons">
                <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_back_txt'}" onclick="submitForm('pageForm','{tmpl_var name='page_back_link'}');"><span>{tmpl_var name='btn_back_txt'}</span></button>
            </div>
        </tmpl_if>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->