<!-- begin: toolbar -->
<div id="moduletoolbar">
    <a class="button cancel" onClick="loadContent('admin/iptables_list.php');" href="#" title="{tmpl_var name='btn_cancel_txt'}">{tmpl_var name='btn_cancel_txt'}</a>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="form_hint"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <!-- tabs -->
    <div id="tabs">
        <ul class="tabsbar">
            <tmpl_loop name="formTab">
                <tmpl_if name="active">
                    <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                    <tmpl_else>
                        <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                </tmpl_if>
            </tmpl_loop>
        </ul>
    </div>
    <!-- desc --> 
    
    <!-- messages/erros -->   
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_iptables">
        <div class="ctrlHolder">
            <label for="server_id">{tmpl_var name='server_id_txt'}</label>
            <select name="server_id" id="server_id" class="selectInput">
                {tmpl_var name='server_id'}
            </select>
        </div>
        <div class="ctrlHolder">
            <label for="table">{tmpl_var name='table_txt'}</label>
            <select name="table" id="table" class="selectInput formLengthLimit">
                {tmpl_var name='table'}
            </select>
        </div>
        <div class="ctrlHolder">
            <label for="protocol">{tmpl_var name='protocol_txt'}</label>
            <select name="protocol" id="protocol" class="selectInput formLengthLimit">
                {tmpl_var name='protocol'}
            </select>
        </div>
        <div class="ctrlHolder">
            <label for="singleport">{tmpl_var name='singleport_txt'}</label>
            <input name="singleport" id="singleport" value="{tmpl_var name='singleport'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
        </div>
        <div class="ctrlHolder">
            <label for="multiport">{tmpl_var name='multiport_txt'}</label>
            <input name="multiport" id="multiport" value="{tmpl_var name='multiport'}" size="20" maxlength="40" type="text" class="textInput" />
        </div>
        <div class="ctrlHolder">
            <label for="destination_ip">{tmpl_var name='destination_ip_txt'}</label>
            <input name="destination_ip" id="destination_ip" value="{tmpl_var name='destination_ip'}" size="16" maxlength="20" type="text" class="textInput formLengthIPv4" />
        </div>
        <div class="ctrlHolder">
            <label for="source_ip">{tmpl_var name='source_ip_txt'}</label>
            <input name="source_ip" id="source_ip" value="{tmpl_var name='source_ip'}" size="16" maxlength="20" type="text" class="textInput formLengthIPv4" />
        </div>
        <div class="ctrlHolder">
            <label for="state">{tmpl_var name='state_txt'}</label>
            <input name="state" id="state" value="{tmpl_var name='state'}" size="16" maxlength="20" type="text" class="textInput" />
        </div>
        <div class="ctrlHolder">
            <label for="target">{tmpl_var name='target_txt'}</label>
            <select name="target" id="target" class="selectInput formLengthLimit">
                {tmpl_var name='target'}
            </select>
        </div>
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='active_txt'}</p>
            <div class="multiField">
                {tmpl_var name='active'}
            </div>
        </div>
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/iptables_edit.php');">
                <span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/iptables_list.php');">
                <span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->