<!-- begin: toolbar -->
<div id="moduletoolbar">
    <a class="button edit" onClick="loadContent('admin/language_list.php?lng_select={tmpl_var name='lang'}');" href="#" title="{tmpl_var name="add_new_record_txt"}">{tmpl_var name='btn_cancel_txt'}</a>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1>Language File Edit: {tmpl_var name="file_path"}</h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <!-- tabs -->
    <div id="tabs">
        <ul class="tabsbar">
            <tmpl_loop name="formTab">
                <tmpl_if name="active">
                    <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                    <tmpl_else>
                        <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                </tmpl_if>
            </tmpl_loop>
        </ul>
    </div>
    <!-- desc --> 
    
    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_language_edit">
        <span class="wf_oneField">
            <tmpl_loop name="records">
                <div class="wf_oneField">
                    <label for="records[{tmpl_var name="key"}]" class="wf_preField">{tmpl_var name="key"}</label>
                    <input type="text" id="records[{tmpl_var name="key"}]" name="records[{tmpl_var name="key"}]" value="{tmpl_var name='val'}" size="50" >
                </div> 
            </tmpl_loop>
        </span>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="lang" value="{tmpl_var name='lang'}">
        <input type="hidden" name="lang_file" value="{tmpl_var name='lang_file'}">
        <input type="hidden" name="module" value="{tmpl_var name='module'}">
            
        <div class="wf_actions buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/language_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/language_list.php?lng_select={tmpl_var name='lang'}');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
            
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->