<!-- beginn: toolbar -->
<div id="moduletoolbar">
    <a class="button cancel" onClick="loadContent('admin/language_list.php');" href="#" title="{tmpl_var name='btn_cancel_txt'}">{tmpl_var name='btn_cancel_txt'}</a>
</div>
<!-- end: toolbar -->

<!-- beginn: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- beginn: modulecontent -->
    <div class="panel panel_language_add">
        <div class="ctrlHolder">
            <label for="lng_select">{tmpl_var name='language_select_txt'}</label>
            <select name="lng_select" id="language" class="selectInput flags">
                {tmpl_var name='language_option'}
            </select>
        </div>
        <div class="ctrlHolder">
            <label for="lng_new">{tmpl_var name='language_new_txt'}</label>
            <input name="lng_new" id="lng_new" value="" size="30" maxlength="255" type="text" class="textInput formLengthHalf" /> 
        </div>
        <div class="ctrlHolder">
            <p class="formHint">{tmpl_var name='language_new_hint_txt'}</p>
        </div>
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/language_add.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/language_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>  
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->