<!-- beginn: toolbar -->
<div id="moduletoolbar">
    <a class="button cancel" onClick="loadContent('admin/language_list.php');" href="#" title="{tmpl_var name='btn_cancel_txt'}">{tmpl_var name='btn_cancel_txt'}</a>
</div>
<!-- end: toolbar -->

<!-- beginn: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- beginn: modulecontent -->
    <div class="panel panel_language_import">
        <div class="ctrlHolder">
            <label for="lng_select">{tmpl_var name='language_import_txt'}</label>
            <input name="file" id="file" size="30" type="file" class="fileUpload" />
        </div>
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='language_overwrite_txt'}</p>
            <div class="multiField">
                <input id="overwrite" type="checkbox" value="1" name="overwrite"/>
            </div>
        </div>
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='ignore_version_txt'}</p>
            <div class="multiField">
                <input id="ignore_version" type="checkbox" value="1" name="ignore_version"/>
            </div>
        </div>
            
        <tmpl_if name="msg">
            <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
        </tmpl_if>
        <tmpl_if name="error">
            <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
        </tmpl_if>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitUploadForm('pageForm','admin/language_import.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/language_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
            
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->