<!-- beginn: toolbar -->
<div id="moduletoolbar">
    <a class="button edit" onClick="loadContent('admin/software_repo_edit.php');" href="#" title="{tmpl_var name="add_new_record_txt"}">{tmpl_var name="add_new_record_txt"}</a>
</div>
<!-- end: toolbar -->

<!-- beginn: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- beginn: modulecontent -->
    <div class="panel panel_list_software_repo">
        <table class="list">
            <thead>
                <tr>
                    <th class="tbl_col_active" scope="col"><tmpl_var name="active_txt"></th>
                    <th class="tbl_col_repo_name" scope="col"><tmpl_var name="repo_name_txt"></th>
                    <th class="tbl_col_repo_url" scope="col"><tmpl_var name="repo_url_txt"></th>
                    <th class="tbl_col_buttons" scope="col">{tmpl_var name='search_limit'}</th>
                </tr>
                <tr>
                    <td class="tbl_col_active"><select name="search_active" class="withicons">{tmpl_var name='search_active'}</select></td>
                    <td class="tbl_col_repo_name"><input type="text" name="search_repo_name" value="{tmpl_var name='search_repo_name'}" class="search" /></td>
                    <td class="tbl_col_repo_url"><input type="text" name="search_repo_url" value="{tmpl_var name='search_repo_url'}" class="search" /></td>
                    <td class="tbl_col_buttons">
                        <button type="button" class="button icons16 icoFilter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onClick="submitForm('pageForm','admin/software_repo_list.php');"><span>{tmpl_var name="filter_txt"}</span></button>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tmpl_loop name="records">
                <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                    <td class="tbl_col_active">{tmpl_var name="active"}</td>
                    <td class="tbl_col_repo_name"><a href="#" onClick="loadContent('admin/software_repo_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="repo_name"}</a></td>
                    <td class="tbl_col_repo_url">{tmpl_var name="repo_url"}</td>
                    <td class="tbl_col_buttons">
                        <a class="button icons16 icoEdit" href="javascript: loadContent('admin/software_repo_edit.php?id={tmpl_var name='id'}');"><span>{tmpl_var name='edit_txt'}</span></a> 
                        <a class="button icons16 icoDelete" href="javascript: del_record('admin/software_repo_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span>{tmpl_var name='delete_txt'}</span></a>
                    </td>
                </tr>
            </tmpl_loop>
            </tbody>
            <tfoot>
                <tr>
                    <td class="tbl_footer tbl_paging" colspan="4"><tmpl_var name="paging"></td>
                </tr>
            </tfoot>
        </table>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->