<!-- begin: toolbar -->
<div id="moduletoolbar">
    <a class="button cancel" onClick="loadContent('admin/software_repo_list.php');" href="#" title="{tmpl_var name='btn_cancel_txt'}">{tmpl_var name='btn_cancel_txt'}</a>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="form_hint"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <!-- tabs -->
    <div id="tabs">
        <ul class="tabsbar">
            <tmpl_loop name="formTab">
                <tmpl_if name="active">
                    <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                    <tmpl_else>
                        <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                </tmpl_if>
            </tmpl_loop>
        </ul>
    </div>
     <!-- desc --> 
    
    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_software_repo">
        <div class="subsectiontoggle"><span class="showing"></span>Repo Details<em class="showing"></em></div>
        <div class="subsection">
            <div class="ctrlHolder">
                <label for="repo_name">{tmpl_var name='repo_name_txt'}</label>
                <input name="repo_name" id="repo_name" value="{tmpl_var name='repo_name'}" size="40" maxlength="40" type="text" class="textInput" />
            </div>
            <div class="ctrlHolder">
                <label for="repo_url">{tmpl_var name='repo_url_txt'}</label>
                <input name="repo_url" id="repo_url" value="{tmpl_var name='repo_url'}" size="40" maxlength="40" type="text" class="textInput" />
            </div>
            <div class="ctrlHolder">
                <label for="repo_username">{tmpl_var name='repo_username_txt'}</label>
                <input name="repo_username" id="repo_username" value="{tmpl_var name='repo_username'}" size="30" maxlength="30" type="text" class="textInput formLengthHalf" />
            </div>
            <div class="ctrlHolder">
                <label for="repo_password">{tmpl_var name='repo_password_txt'}</label>
                <input name="repo_password" id="repo_password" value="{tmpl_var name='repo_password'}" size="30" maxlength="30" type="password" class="textInput formLengthHalf" />
            </div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='active_txt'}</p>
                <div class="multiField">{tmpl_var name='active'}</div>
            </div>
        </div>
        
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/software_repo_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/software_repo_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->