<!-- beginn: toolbar -->
<div id="moduletoolbar">
    <div class="toolbar" id="optiontoolbar">
        <a id="rcmbtn105" class="button checkmail" onClick="loadContent('mail/mail_get_list.php');" href="#" title="{tmpl_var name='btn_cancel_txt'}">{tmpl_var name='btn_cancel_txt'}</a>
    </div>
</div>
<!-- end: toolbar -->

<!-- beginn: modulebody -->
<div class="uibox boxlistcontent" id="modulecontainer">
    <h2 class="module-title"><tmpl_var name="form_hint"></h2>
    <!-- tabs -->
    <ul class="tabsbar">
        <tmpl_loop name="formTab">
            <tmpl_if name="active">
                <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                <tmpl_else>
                    <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
            </tmpl_if>
        </tmpl_loop>
    </ul>
    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>
    
    <!-- beginn: modulecontent -->
    <div class="panel panel_mail_get">
        <div class="ctrlHolder">
            <label for="type">{tmpl_var name='type_txt'}</label>
            <select name="type" id="type" class="selectInput">
                {tmpl_var name='type'}
            </select>
        </div>
        <div class="ctrlHolder">
            <label for="source_server">{tmpl_var name='source_server_txt'}</label>
            <input name="source_server" id="source_server" value="{tmpl_var name='source_server'}" size="30" maxlength="255" type="text" class="textInput" />
        </div>
        <div class="ctrlHolder">
            <label for="source_username">{tmpl_var name='source_username_txt'}</label>
            <input name="source_username" id="source_username" value="{tmpl_var name='source_username'}" size="30" maxlength="255" type="text" class="textInput" />
        </div>
        <div class="ctrlHolder">
            <label for="source_password">{tmpl_var name='source_password_txt'}</label>
            <input name="source_password" id="source_password" value="{tmpl_var name='source_password'}" size="30" maxlength="255" type="password" class="textInput" />
        </div>
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='source_delete_txt'}</p>
            <div class="multiField">
                {tmpl_var name='source_delete'}
            </div>
        </div>
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='source_read_all_txt'}</p>
            <div class="multiField">        
                {tmpl_var name='source_read_all'} 
            </div>                          
        </div>
        <div class="ctrlHolder">
            <label for="destination">{tmpl_var name='destination_txt'}</label>
            <select name="destination" id="destination" class="selectInput">
                {tmpl_var name='destination'}
            </select>
        </div>
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='active_txt'}</p>
            <div class="multiField">
                {tmpl_var name='active'}
            </div>
        </div>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/mail_get_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/mail_get_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->