<!-- tabs -->
<div id="tabs">
    <ul class="tabsbar">
        <tmpl_loop name="formTab">
            <tmpl_if name="active">
                <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                <tmpl_else>
                    <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
            </tmpl_if>
        </tmpl_loop>
    </ul>
</div>

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="form_hint"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">

    <div class="buttonHolder buttons">
        <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','client/client_circle_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
        <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('client/client_circle_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>

    <!-- desc -->
    <div id="module-desc"><tmpl_var name="page_desc_txt"></div>

    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>

    <!-- begin: modulecontent -->
    <div class="panel panel_edit_circle">
        <div class="subsectiontoggle"><span class="showing"></span>Circle Settings<em class="showing"></em></div>
        <div class="subsection">
            <div class="ctrlHolder">
                <label for="circle_name">{tmpl_var name='circle_name_txt'}*</label>
                <input name="circle_name" id="circle_name" value="{tmpl_var name='circle_name'}" size="30" maxlength="255" type="text" class="textInput" />
            </div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='client_ids_txt'}</p>
                <div class="multiField">
                    {tmpl_var name='client_ids'}
                </div>
            </div>
            <div class="ctrlHolder">
                <label for="description">{tmpl_var name='description_txt'}</label>
                <textarea name="description" id="description" rows='10' cols='30'>{tmpl_var name='description'}</textarea>
            </div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='active_txt'}</p>
                <div class="multiField">
                    {tmpl_var name='active'}
                </div>
            </div>
            {tmpl_var name='required_fields_txt'}
        </div>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->