<!-- begin: toolbar -->
<div id="moduletoolbar">
    <div class="toolbar" id="optiontoolbar">
        &nbsp;
    </div>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_system">
        <div class="ctrlHolder">
            <tmpl_var name="monTransDate"><tmpl_var name="time">
        </div>
      <div class="systemmonitor">
          <tmpl_var name="output">
      </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->