<div id="login-form" class="unselectable" unselectable="on">
    <div class="box-inner">
        <img width="152" height="46" title="<tmpl_var name="app_title">" id="logo" alt="<tmpl_var name="app_title">" src="<tmpl_var name='app_logo'>">
        <h3>{tmpl_var name='pw_reset_txt'}</h3>
        <!-- <p><tmpl_var name="list_desc_txt"></p> -->
        <table>
            <tbody>
                <tr>
                    <td class="title">
                        <label for="email"><em>*</em> {tmpl_var name='email_txt'}</label>
                    </td>
                    <td class="input">
                        <input name="email" id="email" value="" size="30" maxlength="255" type="text" class="textInput" />
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <label for="username"><em>*</em> {tmpl_var name='username_txt'}</label>
                    </td>
                    <td class="input">
                        <input name="username" id="username" value="" size="30" maxlength="255" type="text" class="textInput" />
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="s_mod" value="login" />
        <input type="hidden" name="s_pg" value="index" />
        <p id="loginbutton">
            <button class="positive" type="button" value="{tmpl_var name="add_new_record_txt"}" onclick="submitForm('pageForm','login/password_reset.php');"><span>{tmpl_var name='pw_button_txt'}</span></button>
        </p>
    </div>
    <div class="box-bottom">
        <div id="message">
            <tmpl_if name="msg">
                <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
            </tmpl_if>
            <tmpl_if name="error">
                <div id="errorMsg">
                    <h3>ERROR</h3><tmpl_var name="error">
                </div>
            </tmpl_if>
        </div>
        <p>Powered by <a href="<tmpl_var name="app_link">" target="_blank"><tmpl_var name="app_title"></a></p>
    </div>
</div>