<!-- begin: toolbar -->
<div id="moduletoolbar">
    <a class="button edit" onClick="loadContent('sites/cron_edit.php');" href="#" title="{tmpl_var name='add_new_cron_txt'}">{tmpl_var name="add_new_cron_txt"}</a>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="page_head_txt"></h1></div> 
<div class="module-box boxlistcontent" id="modulecontainer">
    <div id="module-desc"><tmpl_var name="page_desc_txt"></div>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_index_mailuser">
        <div class="ctrlHolder">
            <label for="password"><b>{tmpl_var name='email_txt'}</b></label>
            {tmpl_var name='email'}
        </div>
        <div class="ctrlHolder">
            <label for="password"><b>{tmpl_var name='login_txt'}</b></label>
            {tmpl_var name='login'}
        </div>
        <div class="ctrlHolder">
            <label for="password"><b>{tmpl_var name='quota_txt'}</b></label>
            {tmpl_var name='quota'}
        </div>
            <div class="ctrlHolder">
        <label for="password"><b>{tmpl_var name='cc_txt'}</b></label>
            {tmpl_var name='cc'}
        </div>
        <div class="buttonHolder buttons">
            &nbsp;
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->