<!-- begin: toolbar -->
<div id="moduletoolbar">
    &nbsp;
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div> 
<div class="module-box boxlistcontent" id="modulecontainer">
    
    <!-- desc -->
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_mailuser">
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='email_txt'}</p>
            <p class="value">{tmpl_var name='email'}</p>
        </div>
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='login_txt'}</p>
            <p class="value">{tmpl_var name='login'}</p>
        </div>
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='server_address_txt'}</p>
            <p class="value">{tmpl_var name='server_name'}</p>
        </div>
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='quota_txt'}</p>
            <p class="value">{tmpl_var name='quota'}</p>
        </div>
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='cc_txt'}</p>
            <p class="value">{tmpl_var name='cc'}</p>
        </div>
        
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->