<!-- begin: toolbar -->
<div id="moduletoolbar">
    <a class="button cancel" onClick="loadContent('tools/index.php');" href="#" title="{tmpl_var name='btn_cancel_txt'}">Cancel {tmpl_var name='btn_cancel_txt'}</a>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="form_hint">PowerDNS Tupa import</h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <!-- tabs -->
    <div id="tabs">
        <ul class="tabsbar">
            <tmpl_loop name="formTab">
                <tmpl_if name="active">
                    <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                    <tmpl_else>
                        <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                </tmpl_if>
            </tmpl_loop>
        </ul>
    </div>
    <!-- desc --> 
    
    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>
        
    <!-- begin: modulecontent -->
    <div class="panel panel_language_import">
        <div id="module-desc">Import DNS recods from Tupa PowerDNS controlpanel<tmpl_var name="list_desc_txt"></div>
        <div class="ctrlHolder">
            <p class="label">Tupa database hostname</p>
            <div class="multiField">
                <input id="dbhost" type="text" value="{tmpl_var name='dbhost'}" name="dbhost" />
            </div>
        </div>
        <div class="ctrlHolder">
            <p class="label">Tupa database name</p>
            <div class="multiField">
                <input id="dbname" type="text" value="{tmpl_var name='dbname'}" name="dbname" />
            </div>
        </div>
        <div class="ctrlHolder">
            <p class="label">Tupa database user</p>
            <div class="multiField">
                <input id="dbuser" type="text" value="{tmpl_var name='dbuser'}" name="dbuser" />
            </div>
        </div>
        <div class="ctrlHolder">
            <p class="label">Tupa database password</p>
            <div class="multiField">
                <input id="dbpassword" type="text" value="{tmpl_var name='dbpassword'}" name="dbpassword" />
            </div>
        </div>
            
        <div class="ctrlHolder">
            <p class="label">Import DNS Records</p>
            <div class="multiField">
                <input id="start" type="checkbox" value="1" name="start" checked/>
            </div>
        </div>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="Import" onClick="submitForm('pageForm','tools/dns_import_tupa.php');"><span>Start</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="Cancel" onClick="loadContent('tools/index.php');"><span>Cancel</span></button>
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->