<!-- begin: toolbar -->
<div id="moduletoolbar">
    <a class="button edit" onClick="loadContent('mail/mail_user_edit.php');" href="#" title="{tmpl_var name="add_new_record_txt"}">{tmpl_var name="add_new_record_txt"}</a>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <!-- desc -->
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_list_mail_user">
        <table class="list">
            <thead>
                <tr class="caption">
                    <th class="tbl_col_email" scope="col"><tmpl_var name="email_txt"></th>
                    <tmpl_if name="enable_custom_login">
                        <th class="tbl_col_login" scope="col"><tmpl_var name="login_txt"></th>
                    </tmpl_if>
                    <th class="tbl_col_name" scope="col"><tmpl_var name="name_txt"></th>
                    <th class="tbl_col_autoresponder" scope="col"><tmpl_var name="autoresponder_txt"></th>
                    <th class="tbl_col_limit" scope="col"><a class="button icons16 icoLimit" href="#"><span>Limit</span></a>{tmpl_var name='search_limit'}</th>
                </tr>
                <tr class="filter">
                    <td class="tbl_col_email"><input type="text" name="search_email" value="{tmpl_var name='search_email'}" /></td>
                    <td class="tbl_col_name"><input type="text" name="search_name" value="{tmpl_var name='search_name'}" /></td>
                    <tmpl_if name="enable_custom_login">
                        <td class="tbl_col_login"><input type="text" name="search_login" value="{tmpl_var name='search_login'}" /></td>
                    </tmpl_if>
                    <td class="tbl_col_autoresponder"><select name="search_autoresponder">{tmpl_var name='search_autoresponder'}</select></td>
                    <td class="tbl_col_buttons">
                        <button type="button" class="button icons16 icoFilter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onClick="submitForm('pageForm','mail/mail_user_list.php');"><span>{tmpl_var name="filter_txt"}</span></button>
                        <button type="button" class="button icons16 icoFilterReset" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onClick="#"><span>{tmpl_var name="filter_txt"}</span></button>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tmpl_loop name="records">
                <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                    <td class="tbl_col_email"><a href="#" onClick="loadContent('mail/mail_user_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="email"}</a></td>
                    <tmpl_if name="enable_custom_login">
                        <td class="tbl_col_login"><a href="#" onClick="loadContent('mail/mail_user_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="login"}</a></td>
                    </tmpl_if>
                    <td class="tbl_col_name">{tmpl_var name="name"}</td>
                    <td class="tbl_col_autoresponder">{tmpl_var name="autoresponder"}</td>
                    <td class="tbl_col_buttons">
                        <a class="button icons16 icoEdit" href="javascript: loadContent('mail/mail_user_edit.php?id={tmpl_var name='id'}');"><span>{tmpl_var name='edit_txt'}</span></a>
                        <tmpl_if name="mailboxlist_webmail_link">
                            <a class="button icons16 icoWebmailer" href="mail/webmailer.php?id={tmpl_var name='id'}" target="webmail"><span>{tmpl_var name='delete_txt'}</span></a>
                        </tmpl_if>
                        <a class="button icons16 icoDelete" href="javascript: del_record('mail/mail_user_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span>{tmpl_var name='delete_txt'}</span></a>
                    </td>
                </tr>
            </tmpl_loop>
            </tbody>
            <tfoot>
                <tr>
                    <td class="tbl_footer tbl_paging" colspan="<tmpl_if name="enable_custom_login">5<tmpl_else>4</tmpl_if>"><tmpl_var name="paging"></td>
                </tr>
            </tfoot>
        </table>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->