<!-- begin: toolbar -->
<div id="moduletoolbar">
    <a class="button cancel" onClick="loadContent('client/client_template_list.php');" href="#" title="{tmpl_var name='btn_cancel_txt'}">{tmpl_var name='btn_cancel_txt'}</a>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="form_hint"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <!-- tabs -->
    <div id="tabs">
        <ul class="tabsbar">
            <tmpl_loop name="formTab">
                <tmpl_if name="active">
                    <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                    <tmpl_else>
                        <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                </tmpl_if>
            </tmpl_loop>
        </ul>
    </div>
    <!-- desc --> 
    
    <!-- messages/erros -->   
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_client_template">
        <div class="subsectiontoggle"><span class="showing"></span>{tmpl_var name='web_limits_txt'}<em class="showing"></em></div>
        <div class="subsection">
            <div class="ctrlHolder">
                <label for="limit_web_domain">{tmpl_var name='limit_web_domain_txt'}</label>
                <input name="limit_web_domain" id="limit_web_domain" value="{tmpl_var name='limit_web_domain'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_web_quota">{tmpl_var name='limit_web_quota_txt'}</label>
                <input name="limit_web_quota" id="limit_web_quota" value="{tmpl_var name='limit_web_quota'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />&nbsp;MB
            </div>
            <div class="ctrlHolder">
                <label for="limit_traffic_quota">{tmpl_var name='limit_traffic_quota_txt'}</label>
                <input name="limit_traffic_quota" id="limit_traffic_quota" value="{tmpl_var name='limit_traffic_quota'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />&nbsp;MB
            </div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='web_php_options_txt'}</p>
                <div class="multiField">
                    {tmpl_var name='web_php_options'}
                </div>
            </div>
            <div class="ctrlHolder">
                <label for="limit_web_aliasdomain">{tmpl_var name='limit_web_aliasdomain_txt'}</label>
                <input name="limit_web_aliasdomain" id="limit_web_aliasdomain" value="{tmpl_var name='limit_web_aliasdomain'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_web_subdomain">{tmpl_var name='limit_web_subdomain_txt'}</label>
                <input name="limit_web_subdomain" id="limit_web_subdomain" value="{tmpl_var name='limit_web_subdomain'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_ftp_user">{tmpl_var name='limit_ftp_user_txt'}</label>
                <input name="limit_ftp_user" id="limit_ftp_user" value="{tmpl_var name='limit_ftp_user'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_shell_user">{tmpl_var name='limit_shell_user_txt'}</label>
                <input name="limit_shell_user" id="limit_shell_user" value="{tmpl_var name='limit_shell_user'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='ssh_chroot_txt'}</p>
                <div class="multiField">
                    {tmpl_var name='ssh_chroot'}
                </div>
            </div>
            <div class="ctrlHolder">
                <label for="limit_webdav_user">{tmpl_var name='limit_webdav_user_txt'}</label>
                <input name="limit_webdav_user" id="limit_webdav_user" value="{tmpl_var name='limit_webdav_user'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
        </div>
        <div class="subsectiontoggle"><span></span>{tmpl_var name='email_limits_txt'}<em></em></div>
        <div class="subsection" style="display:none;">
            <div class="ctrlHolder">
                <label for="limit_maildomain">{tmpl_var name='limit_maildomain_txt'}</label>
                <input name="limit_maildomain" id="limit_maildomain" value="{tmpl_var name='limit_maildomain'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_mailbox">{tmpl_var name='limit_mailbox_txt'}</label>
                <input name="limit_mailbox" id="limit_mailbox" value="{tmpl_var name='limit_mailbox'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_mailalias">{tmpl_var name='limit_mailalias_txt'}</label>
                <input name="limit_mailalias" id="limit_mailalias" value="{tmpl_var name='limit_mailalias'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_mailaliasdomain">{tmpl_var name='limit_mailaliasdomain_txt'}</label>
                <input name="limit_mailaliasdomain" id="limit_mailaliasdomain" value="{tmpl_var name='limit_mailaliasdomain'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_mailmailinglist">{tmpl_var name='limit_mailmailinglist_txt'}</label>
                <input name="limit_mailmailinglist" id="limit_mailmailinglist" value="{tmpl_var name='limit_mailmailinglist'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_mailforward">{tmpl_var name='limit_mailforward_txt'}</label>
                <input name="limit_mailforward" id="limit_mailforward" value="{tmpl_var name='limit_mailforward'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_mailcatchall">{tmpl_var name='limit_mailcatchall_txt'}</label>
                <input name="limit_mailcatchall" id="limit_mailcatchall" value="{tmpl_var name='limit_mailcatchall'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_mailrouting">{tmpl_var name='limit_mailrouting_txt'}</label>
                <input name="limit_mailrouting" id="limit_mailrouting" value="{tmpl_var name='limit_mailrouting'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_mailfilter">{tmpl_var name='limit_mailfilter_txt'}</label>
                <input name="limit_mailfilter" id="limit_mailfilter" value="{tmpl_var name='limit_mailfilter'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_fetchmail">{tmpl_var name='limit_fetchmail_txt'}</label>
                <input name="limit_fetchmail" id="limit_fetchmail" value="{tmpl_var name='limit_fetchmail'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_mailquota">{tmpl_var name='limit_mailquota_txt'}</label>
                <input name="limit_mailquota" id="limit_mailquota" value="{tmpl_var name='limit_mailquota'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_spamfilter_wblist">{tmpl_var name='limit_spamfilter_wblist_txt'}</label>
                <input name="limit_spamfilter_wblist" id="limit_spamfilter_wblist" value="{tmpl_var name='limit_spamfilter_wblist'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_spamfilter_user">{tmpl_var name='limit_spamfilter_user_txt'}</label>
                <input name="limit_spamfilter_user" id="limit_spamfilter_user" value="{tmpl_var name='limit_spamfilter_user'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_spamfilter_policy">{tmpl_var name='limit_spamfilter_policy_txt'}</label>
                <input name="limit_spamfilter_policy" id="limit_spamfilter_policy" value="{tmpl_var name='limit_spamfilter_policy'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
        </div>
        <div class="subsectiontoggle"><span></span>{tmpl_var name='database_limits_txt'}<em></em></div>
        <div class="subsection" style="display:none;">
            <div class="ctrlHolder">
                <label for="limit_database">{tmpl_var name='limit_database_txt'}</label>
                <input name="limit_database" id="limit_database" value="{tmpl_var name='limit_database'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
        </div>
        <div class="subsectiontoggle"><span></span>{tmpl_var name='cron_job_limits_txt'}<em></em></div>
        <div class="subsection" style="display:none;">
            <div class="ctrlHolder">
                <label for="limit_cron">{tmpl_var name='limit_cron_txt'}</label>
                <input name="limit_cron" id="limit_cron" value="{tmpl_var name='limit_cron'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_cron_type">{tmpl_var name='limit_cron_type_txt'}</label>
                <select name="limit_cron_type" id="limit_cron_type" class="selectInput formLengthHalf">
                    {tmpl_var name='limit_cron_type'}
                </select>
            </div>
            <div class="ctrlHolder">
                <label for="limit_cron_frequency">{tmpl_var name='limit_cron_frequency_txt'}</label>
                <input name="limit_cron_frequency" id="limit_cron_frequency" value="{tmpl_var name='limit_cron_frequency'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
        </div>
        <div class="subsectiontoggle"><span></span>{tmpl_var name='dns_limits_txt'}<em></em></div>
        <div class="subsection" style="display:none;">
            <div class="ctrlHolder">
                <label for="limit_dns_zone">{tmpl_var name='limit_dns_zone_txt'}</label>
                <input name="limit_dns_zone" id="limit_dns_zone" value="{tmpl_var name='limit_dns_zone'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_dns_slave_zone">{tmpl_var name='limit_dns_slave_zone_txt'}</label>
                <input name="limit_dns_slave_zone" id="limit_dns_slave_zone" value="{tmpl_var name='limit_dns_slave_zone'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_dns_record">{tmpl_var name='limit_dns_record_txt'}</label>
                <input name="limit_dns_record" id="limit_dns_record" value="{tmpl_var name='limit_dns_record'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
        </div>
        <div class="subsectiontoggle"><span></span>{tmpl_var name='virtualization_limits_txt'}<em></em></div>
        <div class="subsection" style="display:none;">
            <div class="ctrlHolder">
                <label for="limit_openvz_vm">{tmpl_var name='limit_openvz_vm_txt'}</label>
                <input name="limit_openvz_vm" id="limit_openvz_vm" value="{tmpl_var name='limit_openvz_vm'}" size="10" maxlength="10" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder">
                <label for="limit_openvz_vm_template_id">{tmpl_var name='limit_openvz_vm_template_id_txt'}</label>
                <select name="limit_openvz_vm_template_id" id="limit_openvz_vm_template_id" class="selectInput">
                    {tmpl_var name='limit_openvz_vm_template_id'}
                </select>
            </div>
        </div>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','client/client_template_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('client/client_template_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->