<div class="subsectiontoggle"><span class="showing"></span><tmpl_var name="list_head_txt"><em class="showing"></em></div>
<div class="subsection">   
    
    <!-- messages/erros --> 
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_list_backup">
        <table class="list">
            <thead>
                <tr class="caption">
                    <th class="tbl_col_date" scope="col"><tmpl_var name="date_txt"></th>
                    <th class="tbl_col_date" scope="col"><tmpl_var name="backup_type_txt"></th>
                    <th class="tbl_col_filename" scope="col"><tmpl_var name="filename_txt"></th>
                    <th class="tbl_col_limit" scope="col"><a class="button icons16 icoLimit" href="#"><span>Limit</span></a>{tmpl_var name='search_limit'}</th>
                </tr>
            </thead>
            <tbody>
            <tmpl_loop name="records">
                <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                    <td class="tbl_col_date">{tmpl_var name="date"}</td>
                    <td class="tbl_col_date">{tmpl_var name="backup_type"}</td>
                    <td class="tbl_col_filename">{tmpl_var name="filename"}</td>
                    <td class="tbl_col_buttons">
                        <button class="button iconstxt icoRestore" type="button" onclick="confirm_action('sites/web_domain_edit.php?id={tmpl_var name='parent_id'}&next_tab=backup&backup_action=restore&backup_id={tmpl_var name='backup_id'}','{tmpl_var name='restore_confirm_txt'}');">
                            <span>{tmpl_var name="restore_backup_txt"}</span>
                        </button>
                        <button class="button iconstxt icoDownload" type="button" onclick="loadContent('sites/web_domain_edit.php?id={tmpl_var name='parent_id'}&next_tab=backup&backup_action=download&backup_id={tmpl_var name='backup_id'}');">
                            <span>{tmpl_var name="download_backup_txt"}</span>
                        </button>
                    </td>
                </tr>
            </tmpl_loop>
            </tbody>
        </table>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->
