<!-- tabs -->
<div id="tabs">
    <ul class="tabsbar">
        <tmpl_loop name="formTab">
            <tmpl_if name="active">
                <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                <tmpl_else>
                    <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
            </tmpl_if>
        </tmpl_loop>
    </ul>
    <ul class="tabsbar-buttons">
        <li><a href="javascript:submitForm('pageForm','sites/web_vhost_subdomain_edit.php');" title="{tmpl_var name='btn_save_txt'}" class="positive iconstxt icoPositive"><span>{tmpl_var name='btn_save_txt'}</span></a></li>
        <li><a href="javascript:loadContent('sites/web_vhost_subdomain_list.php');" title="{tmpl_var name='btn_cancel_txt'}" class="negative iconstxt icoNegative"><span>{tmpl_var name='btn_cancel_txt'}</span></a></li>
    </ul>
</div>

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">

    <!-- desc --> 
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>

    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>

    <!-- begin: modulecontent -->
    <div class="panel panel_web_domain">
        <div class="ctrlHolder">
            <label for="redirect_type">{tmpl_var name='redirect_type_txt'}</label>
            <select name="redirect_type" id="redirect_type" class="selectInput formLengthHalf">
                {tmpl_var name='redirect_type'}
            </select>
        </div>
        <div class="ctrlHolder">
            <label for="redirect_path">{tmpl_var name='redirect_path_txt'}</label>
            <input name="redirect_path" id="redirect_path" value="{tmpl_var name='redirect_path'}" size="30" maxlength="255" type="text" class="textInput" />
        </div>
        <div class="ctrlHolder">
            <label for="seo_redirect">{tmpl_var name='seo_redirect_txt'}</label>
            <select name="seo_redirect" id="seo_redirect" class="selectInput formLengthHalf">
                {tmpl_var name='seo_redirect'}
            </select>
        </div>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->
<script language="JavaScript" type="text/javascript">
    var webId = jQuery('input[name="id"]').val();
    var serverId;
    getServerId(webId);
		
    function getServerId(webId){
        jQuery.getJSON('sites/ajax_get_json.php'+ '?' + Math.round(new Date().getTime()), {web_id : webId, type : "getserverid"}, function(data) {
            serverId = data.serverid;
            adjustForm(serverId);
        });
    }
		
    function adjustForm(serverId){
        jQuery.getJSON('sites/ajax_get_json.php'+ '?' + Math.round(new Date().getTime()), {server_id : serverId, type : "getservertype"}, function(data) {
            var selected = jQuery('#redirect_type').val();
            if(data.servertype == "nginx"){
                jQuery("#redirect_type option[value='R']").attr('disabled','disabled');
                jQuery('#redirect_type option[value="L"]').attr('disabled','disabled');
                jQuery('#redirect_type option[value="R,L"]').attr('disabled','disabled');
                jQuery('#redirect_type option[value="R=301,L"]').attr('disabled','disabled');

                jQuery('#redirect_type option[value="R"]').hide();
                jQuery('#redirect_type option[value="L"]').hide();
                jQuery('#redirect_type option[value="R,L"]').hide();
                jQuery('#redirect_type option[value="R=301,L"]').hide();
                if(selected != "no" && selected != "" && selected != "last"  && selected != "break"  && selected != "redirect"  && selected != "permanent") jQuery('#redirect_type option[value="no"]').attr('selected', 'selected');
            } else {
                jQuery('#redirect_type option[value="last"]').attr('disabled','disabled');
                jQuery('#redirect_type option[value="break"]').attr('disabled','disabled');
                jQuery('#redirect_type option[value="redirect"]').attr('disabled','disabled');
                jQuery('#redirect_type option[value="permanent"]').attr('disabled','disabled');
					
                jQuery('#redirect_type option[value="last"]').hide();
                jQuery('#redirect_type option[value="break"]').hide();
                jQuery('#redirect_type option[value="redirect"]').hide();
                jQuery('#redirect_type option[value="permanent"]').hide();
                if(selected != "no" && selected != "" && selected != "R"  && selected != "L"  && selected != "R,L" && selected != "R=301,L") jQuery('#redirect_type option[value="no"]').attr('selected', 'selected');
            }
        });
    }
			
</script>