<!-- tabs -->
<div id="tabs">
    <ul class="tabsbar">
        <tmpl_loop name="formTab">
            <tmpl_if name="active">
                <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                <tmpl_else>
                    <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
            </tmpl_if>
        </tmpl_loop>
    </ul>
    <ul class="tabsbar-buttons">
        <li><a href="javascript:submitForm('pageForm','sites/web_vhost_subdomain_edit.php');" title="{tmpl_var name='btn_save_txt'}" class="positive iconstxt icoPositive"><span>{tmpl_var name='btn_save_txt'}</span></a></li>
        <li><a href="javascript:loadContent('sites/web_vhost_subdomain_list.php');" title="{tmpl_var name='btn_cancel_txt'}" class="negative iconstxt icoNegative"><span>{tmpl_var name='btn_cancel_txt'}</span></a></li>
    </ul>
</div>

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">

    <!-- desc --> 
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>

    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>

    <!-- begin: modulecontent -->
    <div class="panel panel_web_domain">
        <input name="document_root" id="document_root" value="{tmpl_var name='document_root'}" size="30" maxlength="255" type="hidden" class="textInput" />
        <div class="ctrlHolder">
            <label for="system_user">{tmpl_var name='system_user_txt'}</label>
            <p class="value" for="system_user">{tmpl_var name='system_user'}</p>
            <input name="system_user" id="system_user" value="{tmpl_var name='system_user'}" type="hidden" />
            <br style="clear: both;" />
        </div>
        <div class="ctrlHolder">
            <label for="system_group">{tmpl_var name='system_group_txt'}</label>
            <p class="value" for="system_group">{tmpl_var name='system_group'}</p>
            <input name="system_group" id="system_group" value="{tmpl_var name='system_group'}" type="hidden" />
            <br style="clear: both;" />
        </div>
        <div class="ctrlHolder apache">
            <label for="allow_override">{tmpl_var name='allow_override_txt'}</label>
            <input name="allow_override" id="allow_override" value="{tmpl_var name='allow_override'}" size="30" maxlength="255" type="text" class="textInput" />
        </div>
        <div class="phpfpm">
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='php_fpm_use_socket_txt'}</p>
                <div class="multiField">
                    {tmpl_var name='php_fpm_use_socket'}
                </div>
            </div>
            <div class="ctrlHolder">
                <label for="pm">{tmpl_var name='pm_txt'}</label>
                <select name="pm" id="pm" class="selectInput">
                    {tmpl_var name='pm'}
                </select>
            </div>
            <div class="ctrlHolder pm_ondemand" style="background: #ffdfdf; border: 1px solid #df7d7d; border-width: 1px 0; margin: 1.5em 0 1.5em 0; padding: 7px;">
                {tmpl_var name='pm_ondemand_hint_txt'}
            </div>
            <div class="ctrlHolder">
                <label for="pm_max_children">{tmpl_var name='pm_max_children_txt'}</label>
                <input name="pm_max_children" id="pm_max_children" value="{tmpl_var name='pm_max_children'}" size="3" maxlength="3" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder pm_dynamic">
                <label for="pm_start_servers">{tmpl_var name='pm_start_servers_txt'}</label>
                <input name="pm_start_servers" id="pm_start_servers" value="{tmpl_var name='pm_start_servers'}" size="3" maxlength="3" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder pm_dynamic">
                <label for="pm_min_spare_servers">{tmpl_var name='pm_min_spare_servers_txt'}</label>
                <input name="pm_min_spare_servers" id="pm_min_spare_servers" value="{tmpl_var name='pm_min_spare_servers'}" size="3" maxlength="3" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder pm_dynamic">
                <label for="pm_max_spare_servers">{tmpl_var name='pm_max_spare_servers_txt'}</label>
                <input name="pm_max_spare_servers" id="pm_max_spare_servers" value="{tmpl_var name='pm_max_spare_servers'}" size="3" maxlength="3" type="text" class="textInput formLengthLimit" />
            </div>
            <div class="ctrlHolder pm_ondemand">
                <label for="pm_process_idle_timeout">{tmpl_var name='pm_process_idle_timeout_txt'}</label>
                <input name="pm_process_idle_timeout" id="pm_process_idle_timeout" value="{tmpl_var name='pm_process_idle_timeout'}" size="3" maxlength="6" type="text" class="textInput formLengthLimit" />&nbsp;s
            </div>
            <div class="ctrlHolder">
                <label for="pm_max_requests">{tmpl_var name='pm_max_requests_txt'}</label>
                <input name="pm_max_requests" id="pm_max_requests" value="{tmpl_var name='pm_max_requests'}" size="3" maxlength="6" type="text" class="textInput formLengthLimit" />
            </div>
        </div>
        <div class="ctrlHolder">
            <label for="php_open_basedir">{tmpl_var name='php_open_basedir_txt'}</label>
            <input name="php_open_basedir" id="php_open_basedir" value="{tmpl_var name='php_open_basedir'}" size="30" type="text" class="textInput"  style="width:400px;" />
        </div>
        <div class="ctrlHolder">
            <label for="custom_php_ini">{tmpl_var name='custom_php_ini_txt'}</label>
            <textarea name="custom_php_ini" id="custom_php_ini" rows='10' cols='50' style="width:400px;">{tmpl_var name='custom_php_ini'}</textarea>
        </div>
        <div class="ctrlHolder apache">
            <label for="apache_directives">{tmpl_var name='apache_directives_txt'}</label>
            <textarea name="apache_directives" id="apache_directives" rows='10' cols='50' style="width:400px;">{tmpl_var name='apache_directives'}</textarea>
        </div>
        <div class="ctrlHolder nginx">
            <label for="nginx_directives">{tmpl_var name='nginx_directives_txt'}</label>
            <textarea name="nginx_directives" id="nginx_directives" rows='10' cols='50' style="width:400px;">{tmpl_var name='nginx_directives'}</textarea>
        </div>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->
<script language="JavaScript" type="text/javascript">
    var webId = jQuery('input[name="id"]').val();
    var serverId;
    getServerId();
    adjustForm();
		
    var pm = jQuery('#pm').val();
    pmMode(pm);
    jQuery('#pm').change(function(){
        pm = jQuery(this).val();
        pmMode(pm);
    });
		
    function pmMode(pm){
        switch(pm){
            case "static":
                jQuery('.pm_dynamic').add('.pm_ondemand').hide();
                jQuery('.pm_static').show();
                break;
            case "dynamic":
                jQuery('.pm_static').add('.pm_ondemand').hide();
                jQuery('.pm_dynamic').show();
                break;
            case "ondemand":
                jQuery('.pm_static').add('.pm_dynamic').hide();
                jQuery('.pm_ondemand').show();
                break;
        }
    }
		
    function getServerId(){
        jQuery.getJSON('sites/ajax_get_json.php'+ '?' + Math.round(new Date().getTime()), {web_id : webId, type : "getserverid"}, function(data) {
            serverId = data.serverid;
        });
    }
		
    function adjustForm(){
        jQuery.getJSON('sites/ajax_get_json.php'+ '?' + Math.round(new Date().getTime()), {server_id : serverId, type : "getservertype"}, function(data) {
            if(data.servertype == "nginx"){
                jQuery('.nginx').show();
                jQuery('.apache').hide();
            } else {
                jQuery('.nginx').hide();
                jQuery('.apache').show();
            }
        });
        jQuery.getJSON('sites/ajax_get_json.php'+ '?' + Math.round(new Date().getTime()), {web_id : webId, type : "getphptype"}, function(data) {
            if(data.phptype == "php-fpm"){
                jQuery('.phpfpm').show();
            } else {
                jQuery('.phpfpm').hide();
            }
        });
    }
			
</script>