<!-- beginn: toolbar -->
<div id="moduletoolbar">
    <div class="toolbar" id="optiontoolbar">
        <a id="rcmbtn105" class="button checkmail" onClick="loadContent('admin/language_list.php');" href="#" title="{tmpl_var name='btn_cancel_txt'}">{tmpl_var name='btn_cancel_txt'}</a>
    </div>
</div>
<!-- end: toolbar -->

<!-- beginn: modulebody -->
<div class="module-title"><h1><tmpl_var name="list_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <div class="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- beginn: modulecontent -->
    <div class="panel panel_language_complete">
        
        <tmpl_if name="msg">
            <div id="OKMsg"><tmpl_var name="msg"></div>
        </tmpl_if>
        <tmpl_if name="error">
            <div id="errorMsg"><tmpl_var name="error"></div>
        </tmpl_if>
            
        <div class="ctrlHolder">
            <label for="lng_select">{tmpl_var name='language_select_txt'}</label>
            <select name="lng_select" id="language" class="selectInput withicons">
                {tmpl_var name='language_option'}
            </select>
        </div>
                 
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/language_complete.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/language_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
            
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->