<h2><tmpl_var name="page_head_txt"></h2>
<p><tmpl_var name="page_desc_txt"></p>

<div class="panel panel_mail_user">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
      	<label for="password"><b>{tmpl_var name='email_txt'}</b></label>
        {tmpl_var name='email'}
	  </div>
	  <div class="ctrlHolder">
      	<label for="password"><b>{tmpl_var name='login_txt'}</b></label>
        {tmpl_var name='login'}
	  </div>
	  <div class="ctrlHolder">
      	<label for="password"><b>{tmpl_var name='quota_txt'}</b></label>
        {tmpl_var name='quota'}
	  </div>
	  <div class="ctrlHolder">
      	<label for="password"><b>{tmpl_var name='cc_txt'}</b></label>
        {tmpl_var name='cc'}
	  </div>
	  <div class="buttonHolder buttons">
			&nbsp;
		</div>
    </fieldset>

 
  </div>
  
</div>
