<!-- begin: toolbar -->
<div id="moduletoolbar">
    <a class="button cancel" onClick="loadContent('aps/availablepackages_list.php');" href="#" title="{tmpl_var name='btn_cancel_txt'}">{tmpl_var name='btn_cancel_txt'}</a>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title">
    <h1>
        {tmpl_var name='installation_txt'}: {tmpl_var name='pkg_name'} {tmpl_var name='pkg_version'}-{tmpl_var name='pkg_release'}
        <span style="float:right">
            <tmpl_if name='pkg_icon' op='!=' value=''>
                <img src="{tmpl_var name='pkg_icon'}" height="32" width="32" alt="{tmpl_var name='pkg_name'}" style="vertical-align:text-bottom;" /> 
            </tmpl_if>
        </span>
    </h1>
</div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <!-- tabs -->
    <div id="tabs">
        <ul class="tabsbar">
            <tmpl_loop name="formTab">
                <tmpl_if name="active">
                    <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                    <tmpl_else>
                        <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                </tmpl_if>
            </tmpl_loop>
        </ul>
    </div>
    
    <!-- desc --> 
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_install_package">
        <div class="ctrlHolder">
            {tmpl_var name='basic_settings_txt'}
        </div>
        <div class="ctrlHolder">
            <label for="main_domain">{tmpl_var name='install_location_txt'}</label>
            <div class="resetButton">http(s)://&nbsp;</div>DOMAIN_LIST_SPACE<div style="float:left;">&nbsp;/&nbsp;</div>
            <input type="text" name="main_location" id="main_location" value="{tmpl_var name='inp_main_location'}" maxlength="255" class="textInput formLengthHalf" />
        </div>
        <tmpl_if name='pkg_requirements_database' op='!=' value=''>
        <div class="ctrlHolder">
            <label for="main_database_password">{tmpl_var name='new_database_password_txt'}</label>
            <input type="text" class="textInput" name="main_database_password" id="main_database_password" value="{tmpl_var name='inp_main_database_password'}" size="10" maxlength="255" />
        </div>
        </tmpl_if>

            PKG_SETTINGS_SPACE

        <legend>{tmpl_var name='license_txt'}</legend>
        <div class="ctrlHolder">
            <label for="license">{tmpl_var name='license_txt'}</label>
            <tmpl_if name='pkg_license_content' op='==' value=''>{tmpl_var name='pkg_license_name'}<br /></tmpl_if>
            <tmpl_if name='pkg_license_type' op='==' value='url'>
            <a href="{tmpl_var name='pkg_license_content'}" target="_blank">{tmpl_var name='pkg_license_content'}</a>
            <tmpl_elseif name='pkg_license_content'>
            <textarea rows="10" cols="80" id="license_text">{tmpl_var name='pkg_license_content'}</textarea>
            </tmpl_if>
        </div>
        <div class="ctrlHolder">
            <label for="license">{tmpl_var name='acceptance_txt'}</label>
            <input type="checkbox" name="license" id="license" <tmpl_if name='inp_license' op='==' value='true'>checked</tmpl_if> />&nbsp;&nbsp;{tmpl_var name='acceptance_text'}
        </div>

        <input type="hidden" name="install" value="0" />
        
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_install'}" name="btn_install" onClick="document.pageForm.install.value=1; submitForm('pageForm','sites/aps_install_package.php?id={tmpl_var name='pkg_id'}');"><span>{tmpl_var name='btn_install'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel'}" onClick="loadContent('aps/availablepackages_list.php');"><span>{tmpl_var name='btn_cancel'}</span></button>
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->