<!-- begin: toolbar -->
<div id="moduletoolbar">
    &nbsp;
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="page_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <div id="module-desc"><tmpl_var name="page_desc_txt"></div>

    <!-- begin: modulecontent -->
    <div class="panel panel_tools_interface">

        <p>ispconfig_tools_note</p>

        TEST

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="buttonHolder buttons">
            &nbsp;
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->