<!-- tabs -->
<div id="tabs">
    <ul class="tabsbar">
        <tmpl_loop name="formTab">
            <tmpl_if name="active">
                <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                <tmpl_else>
                    <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
            </tmpl_if>
        </tmpl_loop>
    </ul>
    <ul class="tabsbar-buttons">
        <li><a href="javascript:submitForm('pageForm','tools/interface_settings.php');" title="{tmpl_var name='btn_save_txt'}" class="positive iconstxt icoPositive"><span>{tmpl_var name='btn_save_txt'}</span></a></li>
        <li><a href="javascript:loadContent('tools/index.php');" title="{tmpl_var name='btn_cancel_txt'}" class="negative iconstxt icoNegative"><span>{tmpl_var name='btn_cancel_txt'}</span></a></li>
    </ul>
</div>

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="interface_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">

    <!-- desc --> 
    <div id="module-desc"><tmpl_var name="interface_desc_txt"></div>

    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>

    <!-- begin: modulecontent -->
    <div class="panel panel_tools_interface">
        <!-- TODO: If user theme change is activated -->
        <div class="ctrlHolder">
            <label for="app_theme">{tmpl_var name='app_theme_txt'}</label>
            <select name="app_theme" id="app_theme" class="selectInput formLengthHalf">
                {tmpl_var name='app_theme'}
            </select>
        </div>
        <!-- TODO: Limit to activated modules -->
        <div class="ctrlHolder">
            <label for="startmodule">{tmpl_var name='startmodule_txt'}</label>
            <select name="startmodule" id="startmodule" class="selectInput formLengthHalf">
                {tmpl_var name='startmodule'}
            </select>
        </div>  

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->