<!-- beginn: toolbar -->
<div id="moduletoolbar">
    <div class="toolbar" id="optiontoolbar">
        <a id="rcmbtn105" class="button checkmail" onClick="loadContent('tools/index.php');" href="#" title="{tmpl_var name='btn_cancel_txt'}">{tmpl_var name='btn_cancel_txt'}</a>
    </div>
</div>
<!-- end: toolbar -->

<!-- beginn: modulebody -->
<div class="uibox boxlistcontent" id="modulecontainer">
    <h2 class="module-title"><tmpl_var name="list_head_txt"></h2>
    <p class="module-desc"><tmpl_var name="list_desc_txt"></p>
    
    <!-- beginn: modulecontent -->
    <div class="panel panel_usersettings">
        <div class="ctrlHolder">
            <label for="passwort">{tmpl_var name='passwort_txt'}</label>
            <input name="passwort" id="passwort" value="{tmpl_var name='passwort'}" size="15" maxlength="100" type="password" class="textInput" onkeyup="pass_check(this.value)"/>
        </div>
        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='password_strength_txt'}</p>
            <div id="passBar"></div>
            <p class="formHint"><span id="passText">&nbsp;</span></p>
        </div>
        <div class="ctrlHolder">
            <label for="passwort2">{tmpl_var name='passwort_txt'}</label>
            <input name="passwort2" id="passwort2" value="" size="15" maxlength="100" type="password" class="textInput" style="width:100px;"/>
        </div>
        <div class="ctrlHolder">
            <label for="language">{tmpl_var name='language_txt'}</label>
            <select name="language" id="language" class="selectInput withicons">
                {tmpl_var name='language'}
            </select>
        </div>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','tools/user_settings.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('tools/index.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->