<!-- beginn: toolbar -->
<div id="moduletoolbar">
    &nbsp;
</div>
<!-- end: toolbar -->

<!-- beginn: modulebody -->
<div class="module-title"><h1><tmpl_var name="list_head_txt"></h1></div> 
<div class="module-box boxlistcontent" id="modulecontainer">
    <div class="module-desc"><tmpl_var name="list_desc_txt">{tmpl_var name="head_txt"}</div>
    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>

    <!-- beginn: modulecontent -->
    <div class="panel panel_language_import">

        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='send_txt'}</p>
            <div class="multiField">
                <input style="float:left; margin-right:10px;" id="action" type="radio" value="send" name="action" checked="checked"/>
                <select name="email_template_id_send" id="email_template_id_send" class="selectInput">
                    {tmpl_var name='send_email_template'}
                </select>
            </div>
        </div>

        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='reminder_txt'}</p>
            <div class="multiField">
                <input style="float:left; margin-right:10px;" id="action" type="radio" value="reminder" name="action"/>
                <select name="email_template_id_reminder" id="email_template_id_reminder" class="selectInput">
                    {tmpl_var name='reminder_email_template'}
                </select>
            </div>
        </div>

        <div class="ctrlHolder">
            <p class="label">{tmpl_var name='duplicate_txt'}</p>
            <div class="multiField">
                <input id="action" type="radio" value="duplicate" name="action"/>
            </div>
        </div>

        <tmpl_if name="invoice_type" op="==" value="proforma">	  
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='proforma_to_invoice_txt'}</p>
                <div class="multiField">
                    <input id="action" type="radio" value="proforma_to_invoice" name="action"/>
                </div>
            </div>
        </tmpl_if>

        <tmpl_if name="invoice_type" op="==" value="invoice">	
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='refund_txt'}</p>
                <div class="multiField">
                    <input id="action" type="radio" value="refund" name="action"/>
                </div>
            </div>
        </tmpl_if>


        <tmpl_if name="msg">
            <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
        </tmpl_if>
        <tmpl_if name="error">
            <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
        </tmpl_if>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','billing/invoice_action.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('billing/invoice_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->