<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
    <title>ISPConfig</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="../templates/payments_pay.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="content">
  <div id="logo"><img src="{tmpl_var name='company_logo'}" /></div>
  <div id="invoicetitle">{tmpl_var name='invoice_payment_txt'}</div>
  <div id="address">
    <div id="clientaddress">
    <b>{tmpl_var name='invoice_recipient_txt'}</b><br />
	<hr />
	{tmpl_var name='invoice_name'}<br />
	{tmpl_var name='invoice_street'}<br />
	{tmpl_var name='invoice_zip'} {tmpl_var name='company_city'}<br />
	{tmpl_var name='invoice_state'}<br />
	{tmpl_var name='invoice_country'}<br />
    </div>
    <div id="companyaddress">
    <b>{tmpl_var name='payee_txt'}</b><br />
	<hr />
	{tmpl_var name='company_name'}<br />
	{tmpl_var name='company_street'}<br />
	{tmpl_var name='company_zip'} {tmpl_var name='company_city'}<br />
	{tmpl_var name='company_state'}<br />
	{tmpl_var name='company_country'}<br />
    </div>
    <div style="clear:all;">&nbsp;</div>
  </div>
  <div style="height:100px;">&nbsp;</div>
  <div id="invoicedetails">
  <b>{tmpl_var name='invoice_number_txt'}:</b> {tmpl_var name='invoice_number'}<br />
  <b>{tmpl_var name='invoice_date_txt'}:</b> {tmpl_var name='invoice_date'}<br />
  <h2>{tmpl_var name='invoice_amount_txt'}: {tmpl_var name='invoice_amount_formatted'}</h2>
  </div>
  <div id="paymentprocedure">{tmpl_var name='payment_procedure_txt'}<hr /></div>
  <div id="providers">
  
<tmpl_if name="paypal_visible">
    <div id="paypal">
	<b>{tmpl_var name='pay_with_paypal'}</b>
	<form method="post" name="paypal_form" action="{tmpl_var name='paypal_url'}"> 
      <!-- Shopping cart content begin --></p> 
      <input type="hidden" name="item_name_1" value="{tmpl_var name='payee_txt'}: {tmpl_var name='company_name'}, {tmpl_var name='invoice_number_txt'}:{tmpl_var name='invoice_number'}, {tmpl_var name='invoice_date_txt'}: {tmpl_var name='invoice_date'}"> 
      <input type="hidden" name="amount_1" value="{tmpl_var name='invoice_amount'}"> 
      <input type="hidden" name="quantity_1" value="1"> 
      <!-- Shopping cart content end --></p> 
      <input type="hidden" name="upload" value="1"> 
      <input type="hidden" name="business" value="{tmpl_var name='paypal_business'}"> 
      <input type="hidden" name="cmd" value="_cart"> 
      <input type="hidden" name="no_shipping" value="0"> 
      <input type="hidden" name="custom" value="{tmpl_var name='invoice_number'}"> 
      <input type="hidden" name="currency_code" value="{tmpl_var name='invoice_currency'}"> 
      <input type="hidden" name="tax" value="0.00"> 
      <input type="hidden" name="notify_url" value="{tmpl_var name='paypal_notify_url'}"> 
      <input type="hidden" name="return" value="{tmpl_var name='paypal_success_url'}"> 
      <input type="hidden" name="cancel_return" value="{tmpl_var name='paypal_cancel_url'}"> 
      <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> 
    </form>
	</div>
</tmpl_if>
  </div>
</div>

</body>
</html>