<!-- begin: toolbar -->
<div id="moduletoolbar">
    <div class="toolbar" id="optiontoolbar">
        &nbsp;
    </div>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div class="module-title"><h1><tmpl_var name="app_title"> <tmpl_var name="app_version"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">   
    <tmpl_if name='error'>
        <div class="systemmonitor-state state-error">
            <div class="icon32">&nbsp;</div>
            <tmpl_loop name="error">
                <p>{tmpl_var name='error_msg'}</p>
            </tmpl_loop>
        </div>
    </tmpl_if>
    <tmpl_if name='warning'>
        <div class="systemmonitor-state state-warning">
            <div class="icon32">&nbsp;</div>
            <tmpl_loop name="warning">
                <p>{tmpl_var name='warning_msg'}</p>
            </tmpl_loop>
        </div>
    </tmpl_if>
    <tmpl_if name='info'>
        <div class="systemmonitor-state state-info">
            <div class="icon32">&nbsp;</div>
            <tmpl_loop name="info">
                <p>{tmpl_var name='info_msg'}</p>
            </tmpl_loop>
            <br style="clear:both" />
        </div>
    </tmpl_if>
    
    <div class="panel panel_dashboard">
        <h3 class="welcome"><tmpl_var name="welcome_user"></h3>
        <div class="dash-mods">
            <tmpl_loop name='leftcol'>
                {tmpl_var name='content'}
                <p>&nbsp;</p>
            </tmpl_loop>
        </div>
        <div class="dash-limits">
            <tmpl_loop name='rightcol'>
                {tmpl_var name='content'}
                <p>&nbsp;</p>
            </tmpl_loop>
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->