<!-- begin: toolbar -->
<div id="moduletoolbar">
    <a class="button edit" onclick="loadContent('admin/iptables_edit.php');" href="#" title="{tmpl_var name="add_new_rule_txt"}">{tmpl_var name="add_new_rule_txt"}</a>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_list_iptables">
        <table class="list">
            <thead>
                <tr class="caption">
                    <th class="tbl_col_active" scope="col"><tmpl_var name="active_txt"></th>
                    <th class="tbl_col_server_id" scope="col"><tmpl_var name="server_id_txt"></th>
                    <th class="tbl_col_table" scope="col"><tmpl_var name="table_txt"></th>
                    <th class="tbl_col_protocol" scope="col"><tmpl_var name="protocol_txt"></th>
                    <th class="tbl_col_port" scope="col"><tmpl_var name="singleport_txt"></th>
                    <th class="tbl_col_port" scope="col"><tmpl_var name="multiport_txt"></th>
                    <th class="tbl_col_state" scope="col"><tmpl_var name="state_txt"></th>
                    <th class="tbl_col_target" scope="col"><tmpl_var name="target_txt"></th>
                    <th class="tbl_col_limit" scope="col"><a class="button icons16 icoLimit" href="#"><span>Limit</span></a>{tmpl_var name='search_limit'}</th>
                </tr>
                <tr class="filter">
                    <td class="tbl_col_active"><select name="search_active">{tmpl_var name='search_active'}</select></td>
                    <td class="tbl_col_server_id"><select name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
                    <td class="tbl_col_table"></td>
                    <td class="tbl_col_protocol"><select name="search_protocol">{tmpl_var name='search_protocol'}</select></td>
                    <td class="tbl_col_singleport"></td>
                    <td class="tbl_col_multiport"></td>
                    <td class="tbl_col_state"></td>
                    <td class="tbl_col_target"><select name="search_target">{tmpl_var name='search_target'}</select></td>
                    <td class="tbl_col_buttons">
                        <button type="button" class="button icons16 icoFilter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="submitForm('pageForm','admin/iptables_list.php');"><span>{tmpl_var name="filter_txt"}filter_txt</span></button>
                        <button type="button" class="button icons16 icoFilterReset" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="#"><span>{tmpl_var name="filter_txt"}</span></button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tmpl_loop name="records">
                <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                    <td class="tbl_col_active">{tmpl_var name="active"}</td>
                    <td class="tbl_col_server_id"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="server_id"}</a></td>
                    <td class="tbl_col_table"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="table"}</a></td>
                    <td class="tbl_col_protocol"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="protocol"}</a></td>
                    <td class="tbl_col_singleport"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="singleport"}</a></td>
                    <td class="tbl_col_multiport"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="multiport"}</a></td>
                    <td class="tbl_col_state"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="state"}</a></td>
                    <td class="tbl_col_target"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="target"}</a></td>
                    <td class="tbl_col_buttons">    
                        <a class="button icons16 icoDelete" href="javascript: del_record('admin/iptables_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span>{tmpl_var name='delete_txt'}</span></a>
                    </td>
                </tr>
                </tmpl_loop>
            </tbody>
            <tfoot>
                <tr>
                    <td class="tbl_footer tbl_paging" colspan="9"><tmpl_var name="paging"></td>
                </tr>
            </tfoot>
        </table>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->