<!-- begin: toolbar -->
<div id="moduletoolbar">
    <div class="toolbar" id="optiontoolbar">
        &nbsp;
    </div>
</div>
<!-- end: toolbar -->

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="do_osupdate_caption"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">
    <!-- desc -->
    <div id="module-desc"><tmpl_var name="do_osupdate_desc"></div>
    <!-- messages/erros -->  
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>
    
    <!-- begin: modulecontent -->
    <div class="panel panel_language_add">
        <div class="ctrlHolder">
            <label for="server_select">{tmpl_var name='select_server_txt'}</label>
            <select name="server_select" id="server" class="selectInput" onchange="document.getElementById('OKMsg').style.visibility = 'hidden'; ">
                {tmpl_var name='server_option'}
            </select>
        </div>

        <tmpl_if name="msg">
            <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
        </tmpl_if>

        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_do_txt'}" onClick="submitForm('pageForm','admin/remote_action_osupdate.php');"><span>{tmpl_var name='btn_do_txt'}</span></button>
        </div>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->