<!-- tabs -->
<div id="tabs">
    <ul class="tabsbar">
        <tmpl_loop name="formTab">
            <tmpl_if name="active">
                <li class="active"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
                <tmpl_else>
                    <li><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a></li>
            </tmpl_if>
        </tmpl_loop>
    </ul>
    <ul class="tabsbar-buttons">
        <li><a href="javascript:submitForm('pageForm','mail/mail_get_edit.php');" title="{tmpl_var name='btn_save_txt'}" class="positive iconstxt icoPositive"><span>{tmpl_var name='btn_save_txt'}</span></a></li>
        <li><a href="javascript:loadContent('mail/mail_get_list.php');" title="{tmpl_var name='btn_cancel_txt'}" class="negative iconstxt icoNegative"><span>{tmpl_var name='btn_cancel_txt'}</span></a></li>
    </ul>
</div>

<!-- begin: modulebody -->
<div id="module-title"><h1><tmpl_var name="form_hint"></h1></div>
<div class="module-box boxlistcontent" id="modulecontainer">

    <!-- desc -->
    <div id="module-desc"><tmpl_var name="page_desc_txt"></div>

    <!-- messages/erros -->   
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>

    <!-- begin: modulecontent -->
    <div class="panel panel_mail_get">
        <div class="subsectiontoggle"><span class="showing"></span>User Groups<em class="showing"></em></div>
        <div class="subsection">
            <div class="ctrlHolder">
                <label for="type">{tmpl_var name='type_txt'}</label>
                <select name="type" id="type" class="selectInput">{tmpl_var name='type'}</select>
            </div>
            <div class="ctrlHolder">
                <label for="source_server">{tmpl_var name='source_server_txt'}</label>
                <input name="source_server" id="source_server" value="{tmpl_var name='source_server'}" size="30" maxlength="255" type="text" class="textInput" />
            </div>
            <div class="ctrlHolder">
                <label for="source_username">{tmpl_var name='source_username_txt'}</label>
                <input name="source_username" id="source_username" value="{tmpl_var name='source_username'}" size="30" maxlength="255" type="text" class="textInput" />
            </div>
            <div class="ctrlHolder">
                <label for="source_password">{tmpl_var name='source_password_txt'}</label>
                <input name="source_password" id="source_password" value="{tmpl_var name='source_password'}" size="30" maxlength="255" type="password" class="textInput" />
            </div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='source_delete_txt'}</p>
                <div class="multiField">
                    {tmpl_var name='source_delete'}
                </div>
            </div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='source_read_all_txt'}</p>
                <div class="multiField">
                    {tmpl_var name='source_read_all'}
                </div>                          
            </div>
            <div class="ctrlHolder">
                <label for="destination">{tmpl_var name='destination_txt'}</label>
                <select name="destination" id="destination" class="selectInput">
                    {tmpl_var name='destination'}
                </select>
            </div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='active_txt'}</p>
                <div class="multiField">
                    {tmpl_var name='active'}
                </div>
            </div>
        </div>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->