body {
	background-color:#EEEEEE;
}

hr {
	color:#CCCCCC;
	background-color:#CCCCCC;
	border-style:dotted;
	border-width:1px;
}

#content {
	background-color:#FFFFFF;
	border-width:1px;
	border-color:#CCCCCC;
	border-style:solid;
	width:700px;
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
}

#logo img {
	max-width:300px;
	margin-left:20px;
	margin-top:20px;
}

form {
	margin:0px;
	padding:0px;
}

#invoicetitle {
	margin-left:30px;
	font-size:30px;
	margin-bottom:10px;
}

#clientaddress {
	float:left;
	width:300px;
	border-width:1px;
	border-color:#CCCCCC;
	border-style:dotted;
	margin-left:30px;
	margin-right:6px;
	padding:5px;
}

#companyaddress {
	float:left;
	width:300px;
	border-width:1px;
	border-color:#CCCCCC;
	border-style:dotted;
	margin-left:6px;
	margin-right:30px;
	padding:5px;
}

#invoicedetails {
	margin-left:30px;
	margin-right:30px;
	margin-top:50px;
	text-align:right;
}

#paymentprocedure {
	margin-left:30px;
	margin-right:30px;
	text-align:center;
}

#providers {
	margin-left:30px;
	margin-right:30px;
	margin-top:10px;
	margin-bottom:30px;
	text-align:center;
}

#paypal {
	width:200px;
	border-width:1px;
	border-color:#CCCCCC;
	border-style:dotted;
	padding-bottom:20px;
	margin-left: auto;
	margin-right: auto;
	font:Arial;
}













