<!-- beginn: toolbar -->
<div id="moduletoolbar">
    <a class="button edit" onClick="loadContent('billing/invoice_edit.php?invoice_type=proforma');" href="#" title="{tmpl_var name="add_new_record_txt"}">{tmpl_var name="add_new_record_txt"}</a>
</div>
<!-- end: toolbar -->

<!-- beginn: modulebody -->
<div id="module-title"><h1><tmpl_var name="list_head_txt"></h1></div> 
<div class="module-box boxlistcontent" id="modulecontainer">
    <div id="module-desc"><tmpl_var name="list_desc_txt"></div>
    
    <!-- beginn: modulecontent -->
    <div class="panel panel_list_invoice">
        <table class="list">
            <thead>
                <tr class="caption">
                    <th class="tbl_col_invoice_number" scope="col"><tmpl_var name="invoice_number_txt"></th>
                    <th class="tbl_col_invoice_date" scope="col"><tmpl_var name="invoice_date_txt"></th>
                    <th class="tbl_col_client_pid" scope="col"><tmpl_var name="client_id_txt"></th>
                    <th class="tbl_col_invoice_amount" scope="col"><tmpl_var name="invoice_amount_txt"></th>
                    <th class="tbl_col_status_sent" scope="col"><tmpl_var name="status_sent_txt"></th>
                    <th class="tbl_col_status_printed" scope="col"><tmpl_var name="status_printed_txt"></th>
                    <th class="tbl_col_status_paid" scope="col"><tmpl_var name="status_paid_txt"></th>
                    <th class="tbl_col_limit" scope="col"><a class="button icons16 icoLimit" href="#"><span>Limit</span></a>{tmpl_var name='search_limit'}</th>
                </tr>
                <tr class="filter">
                    <td class="tbl_col_invoice_number"><input type="text" name="search_invoice_number" value="{tmpl_var name='search_invoice_number'}" /></td>
                    <td class="tbl_col_invoice_date"><input type="text" name="search_invoice_date" value="{tmpl_var name='search_invoice_date'}" /></td>
                    <td class="tbl_col_client_pid"><select name="search_client_id" onChange="submitForm('pageForm','billing/proforma_list.php');" class="clienticons">{tmpl_var name='search_client_id'}</select></td>
                    <td class="tbl_col_invoice_amount"><input type="text" name="search_invoice_amount" value="{tmpl_var name='search_invoice_amount'}" /></td>
                    <td class="tbl_col_status_sent"><select name="search_status_sent" onChange="submitForm('pageForm','billing/proforma_list.php');" class="withicons">{tmpl_var name='search_status_sent'}</select></td>
                    <td class="tbl_col_status_printed"><select name="search_status_printed" onChange="submitForm('pageForm','billing/proforma_list.php');" class="withicons">{tmpl_var name='search_status_printed'}</select></td>
                    <td class="tbl_col_status_paid"><select name="search_status_paid" onChange="submitForm('pageForm','billing/proforma_list.php');" class="withicons">{tmpl_var name='search_status_paid'}</select></td>
                    <td class="tbl_col_buttons">
                        <button type="button" class="button icons16 icoFilter" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onClick="submitForm('pageForm','billing/proforma_list.php');"><span>{tmpl_var name="filter_txt"}</span></button>
                        <button type="button" class="button icons16 icoFilterReset" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onClick="#"><span>{tmpl_var name="filter_txt"}</span></button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tmpl_loop name="records">
                <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                    <td class="tbl_col_invoice_number"><a href="#" onClick="loadContent('billing/invoice_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="invoice_number"}</a></td>
                    <td class="tbl_col_invoice_date">{tmpl_var name="invoice_date"}</td>
                    <td class="tbl_col_client_pid">{tmpl_var name="client_id"}</td>
                    <td class="tbl_col_invoice_amount">{tmpl_var name="invoice_amount"} {tmpl_var name="currency_txt"}</td>
                    <td class="tbl_col_status_sent">{tmpl_var name="status_sent"}</td>
                    <td class="tbl_col_status_printed">{tmpl_var name="status_printed"}</td>
                    <td class="tbl_col_status_paid">{tmpl_var name="status_paid"}</td>
                    <td class="tbl_col_buttons">
                        <a class="button icons16 icoEdit" href="javascript: loadContent('billing/invoice_edit.php?id={tmpl_var name='id'}');"><span>{tmpl_var name='edit_txt'}</span></a>
                        <a class="button icons16 icoAction" href="javascript: loadContent('billing/invoice_action.php?id={tmpl_var name='id'}');"><span>Action</span></a>
                        <a class="button icons16 icoPDF" href="billing/invoice_get_pdf.php?id={tmpl_var name='id'}"><span>PDF</span></a>
                        <a class="button icons16 icoDelete" href="javascript: del_record('billing/invoice_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span>{tmpl_var name='delete_txt'}</span></a>
                    </td>
                </tr>
                </tmpl_loop>
            </tbody>
            <tfoot>
                <tr>
                    <td class="tbl_footer tbl_paging" colspan="8"><tmpl_var name="paging"></td>
                </tr>
            </tfoot>
        </table>
    </div><!-- end: modulecontent -->
</div><!-- end: modulebody -->